    body {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 100% 100%;
 }

 h1 {
    color: white;
    text-align: center;
    font-size: 40px;
 }

 .nav {
    text-align: center; 
    margin-top: 30px;
    background-color: black;
    padding: 5px;
    animation: fadeInAnimation 8s forwards;
}

.nav li {
    display: inline-block; 
    margin: 10px; 
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 16px; 
    padding: 5px; 
    margin: 30px;
    font-size: 20px;
}


.name {
    color: black;
    text-align: left;
    font-size: 60px;
    margin-left: 170px;
    margin-top: 100px;
    text-shadow: 6px 2px pink;
}

img {
    float: right;
    margin-right: 200px;
    margin-top: -26%;
}

.icons {
    float: left;
    margin-left: 290px;
}

.icons a {
    margin: 20px;
    font-size: 25px;
    color: white;
}

@media (max-width: 576px) {
    .name {
        text-align: center;
        margin: 20px 0;
        font-size: 40px;
        margin-top: 50px;
    }

    img {
        float: none;
        margin: 0 auto; 
        display: block;
        margin-top: 20px;
    }

    .icons {
        float: none;
        margin-left: 0;
        text-align: center;
        margin-top: 20px; 
    }

    .nav {
        margin-top: 10px;
        padding: 10px 0;
    }

    .nav li {
        display: block;
        margin: 10px auto;
    }
}